.no-select {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: default;
}

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.hide {
    display: none;
}

button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* input */


.input {
    position: relative;
    display: block;
    width: auto;
    padding: 4px 0;
    border-bottom: transparent 2px solid;
}

.input:focus-within {
    border-bottom: #00897b 2px solid;
}

.input__value {
    width: 144px;
    min-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 4px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    line-height: 1;
    color: #001e2b;
}

.input__text {
    min-height: 64px;
    resize: none;
}

.input__label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #889397;
}

.input__list {
    position: absolute;
    left: -2px;
    right: -2px;
    top: 54px;
    display: none;
    width: calc(100% + 4px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 120px;
    overflow-y: auto;
    background-color: #FFF;
    z-index: 4;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding: 4px 8px;
    margin-bottom: 6px;
}

.input__case {
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
} 

.input__case:hover {
    color: #001e2b;
}

.input:focus-within .input__list {
    display: block;
}

.input_hide .input__value, .input_sort .input__value {
    padding-right: 20px;
}

.input__show {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

.input__sort {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

.input__sort span {
    display: none;
    width: 16px;
    height: 16px;
} 

.input-sort__none i {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.input-sort__lower, .input-sort__upper {
    color: #00897b;
}

.input_sort[data-sort="none"] .input-sort__none { display: block; }
.input_sort[data-sort="lower"] .input-sort__lower { display: block; }
.input_sort[data-sort="upper"] .input-sort__upper { display: block; }


/* popup */

.popup {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    display: none;
    padding: 24px 8px;
    background-color: #00000033;
}

.popup__body {
    overflow-y: hidden;
    max-height: 100%;
    min-width: 420px;
    overflow-x: hidden;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 0% 100% 0%;
    grid-template-rows: 0% 100% 0%;
    background-color: transparent;
    padding: 8px 0;
}

.popup__body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.popup__body > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.popup__body > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.popup__content {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px 48px;
    padding-bottom: 90px;
    max-height: calc(100vh - 68px);
}

.popup__content::before {
    background-color: #FFF;
    border-radius: 8px;
    width: calc(100% - 48px);
    height: calc(100% - 16px);
    position: absolute;
    left: 24px;
    right: 24px;
    top: 8px;
    bottom: 8px;
    content: '';
    -webkit-box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
            box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
} 

.popup__footer {
    position: relative;
}

.popup__close {
    width: 100%;
    height: 0;
    position: relative;
}

.popup__close-button {

    position: absolute;
    width: 16px;
    height: 16px;
    right: 36px;
    top: 12px;
    cursor: pointer;
    z-index: 2;
}

.popup__close-button:hover { 
    color: #ee6e73;
}

.popup__title {
    text-align: start;
    font-size: 16px;
    color: #001e2b;
    font-weight: 700;
    width: 100%;
    padding: 0 8px;
    position: relative;
    z-index: 10;
}

.popup__subtitle {
    text-align: start;
    font-size: 12px;
    color: #00897b;
    font-weight: 700;
    width: 100%;
    margin: 0 8px;
    margin-top: 24px;
    margin-bottom: -8px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.popup__item {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
}

.popup__item .input {
    margin: 0 8px;
}

.popup__item .input:focus-within {
    position: relative;
    z-index: 3;
}

.popup__buttons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    right: 24px;
    left: 24px;
    width: calc(100% - 48px);
    min-width: auto;
    bottom: 0;
    background-color: #fff;
    padding-bottom: 16px;
    padding-top: 12px;
    border-radius: 0px 0px 8px 8px;
    padding-right: 10px;
    z-index: 2;
}

.popup__button {
    padding: 10px 16px;
    background-color: #FFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #001e2b;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    border: 1.5px solid #001e2b;
    margin: 0 4px;
}

.popup__button:focus {
    background-color: #FFF;
}

.popup__button:hover {
    color: #FFF;
    background-color: #146ebe;
    border-color:  #146ebe;
}

.popup__subbutton {
    padding: 0 4px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #001e2b;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    margin: 0 4px;
}

.popup__subbutton:focus {
    background-color: transparent;
}

.popup__subbutton:hover {
    color: #00897b;
}

.popup__chek {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 16px;
    margin: 0 8px;
}

.popup_disabled .popup__body{
    background-color: #f0f0f0;
}

.popup__button[disabled] {
    color: #889397;
    border-color: #889397;
    cursor: default;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #f0f0f0;
}

.popup__description {
    width: 100%;
    margin: 0 8px;
}

.card {
    margin: 4px;
    padding: 16px;
    border-radius: 4px;
    background-color: #FFF;
    color: #889397;

}

.card__title {
    color: #001e2b;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Euclid Circular A','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.card__button { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 12px;
    color: #464c4f;
    background-color: #f0f0f0;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

.card__button:focus { background-color: #f0f0f0; }

.card__button:hover {
    color: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.radio span {
    padding-left: 12px !important;
    padding-right: 4px !important;
}

[type="radio"]+span:before, [type="radio"]+span:after {
    left: -4px;
}

.radio__label {
    padding-left: 10px;
    color: #464c4f;
    font-size: 12px;
    font-weight: 700;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}


.chek__label {
    font-size: 12px;
    color: #889397;
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
}

.hide {
    display: none !important;
}