
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}

body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 3.25fr;
    grid-template-columns: 1fr 3.25fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
}


.sidebar {
    padding: 8px 0;
    overflow-y: auto;
    z-index: 10;
}

.sidebar__item {
    padding: 8px 24px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    color: #001e2b;
    text-transform: uppercase;
    display: block;
}

.sidebar__item_active {
    color: #00897b;
}

.sidebar__item:hover {
    color: #00897b;
}


.main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    overflow: hidden;

    position: relative;
}


.main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.content {
    height: 100%;
    width: 100%;
}

.content__title {
    padding: 16px 28px;
    font-size: 1.5rem;
    color: #001e2b;
    font-weight: 700;
}

.content__filter {
    padding: 0 24px;
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

}

.filter__button {
    border: none;
    padding: 8px 16px;
    margin: 0 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 8px;
    color: #183153;
    background-color: #FFF;
    cursor: pointer;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.filter__button:focus {
    background-color: #FFF;
}

.filter__button:hover {
    background-color: #146ebe;
    color: #FFF;
}

.filter__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter__item {
    border: none;
    padding: 8px 16px;
    margin: 0 4px;
    font-size: 12px;
    background-color: transparent;
    border-radius: 8px;
    color: #183153;
    background-color: #FFF;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 34px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.filter-item__sort {
    padding-top: 2px;
    font-size: 10px;
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 4px;
    margin-left: -4px;
    cursor: pointer;
    color: #00897b;
}

.filter-item__sort-none {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #001e2b;
}

.filter-item__sort i { display: none; }

.filter-item_sort-none .filter-item__sort-none { display: block; }
.filter-item_sort-lower .filter-item__sort-lower { display: block; }
.filter-item_sort-upper .filter-item__sort-upper { display: block; }


.filter-item__label {
    font-weight: 700;
    text-transform: uppercase;
}

.filter-item__value {
    font-weight: 700;
    color: #889397;
    margin-left: 8px;
}

.filter-item__dismis {
    margin-left: 12px;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.filter-item__dismis:hover {
    color: #ee6e73;
}

.content__info-bar {
    padding: 22px 28px;
}

.info-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    color: #001e2b;    
    font-size: 12px;
    font-weight: 700;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.info-bar__select {
    margin-right: auto;
}

.info-bar__value {
    color: #889397;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.content__list {
    width: 100%; 
    padding: 0 24px;
    overflow-y: scroll;

    display: -ms-grid;

    display: grid;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    grid-column-gap: 8px;
    position: relative;

}


.content-list__bottom {
    content: '';
    width: 100%;
    height: 0;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}

.content__controls {
    padding: 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.controls__button {
    padding: 10px 16px;
    background-color: #FFF;
    margin: 0 4px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #001e2b;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.controls-button__icon { display: none; }
.controls-button__text { display: block; }


.controls__button:focus {
    background-color: #FFF;
}

.controls__button:hover {
    color: #FFF;
}

.controls__button-all {
    margin-right: auto;
    margin-left: 0;
}

.controls__button:hover { background-color: #146ebe; }
.controls__button-create:hover { background-color: #00897b; }
.controls__button-edit:hover { background-color: #00897b; }
.controls__button-remove:hover { background-color: #ee6e73; }

.controls__chek {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;

    padding-top: 16px;
    margin: 0 8px;
}

.controls-chek__select { display: none; }
.controls-chek__clear { display: block; }

.controls__button-all_select .controls-chek__select { display: block; }
.controls__button-all_select .controls-chek__clear { display: none; }


.content[data-popup="filter"] .filter-popup { display: -webkit-box; display: -ms-flexbox; display: flex; }
.content[data-popup="create"] .create-popup { display: -webkit-box; display: -ms-flexbox; display: flex; }
.content[data-popup="edit"] .edit-popup { display: -webkit-box; display: -ms-flexbox; display: flex; }


.popop__remove {
    cursor: pointer;
    color: #ee6e73;
    font-size: 14px;
    font-weight: 700;
    margin-right: auto;
    margin-left: 8px;
    display: none;
}

.popup_disabled .popop__remove {
    display: block;
}

.mail-button {
    font-size: 16px;
    padding: 8px;
    width: 42px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 16px;
}

.popup-keys-list {
    padding: 0 4px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.popup-key {
    position: relative;
    z-index: 1;
    margin: 4px;
    width: calc(100% / 3 - 8px);
    min-width: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    display: -ms-grid;
    display: grid;
            grid-template-areas: "name id"
                         "type ."
                         ". button";
    
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.popup-key__name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;

    font-size: 14px;
    font-weight: 700;
    color: #001e2b;
    line-height: 1;
}

.popup-key-scan > .popup-key__name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.popup-keys-scan > .popup-key__name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.popup-key__id {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: id;

    line-height: 1;
    color: #d1d1d1;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
}

.popup-key-scan > .popup-key__id {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.popup-keys-scan > .popup-key__id {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.popup-key__type {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: type;

    font-size: 12px;
    font-weight: 700;
    color: #889397;
}

.popup-key-scan > .popup-key__type {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.popup-keys-scan > .popup-key__type {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.popup-key__scan {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: scan;
    font-size: 12px;
    font-weight: 700;
    color: #889397;
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

.popup-keys-scan > .popup-key__scan {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.popup-key__scan:hover {
    color: #001e2b;
}

.popup-key__time {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: time;
    font-size: 12px;
    margin-bottom: 4px;
}

.popup-keys-scan > .popup-key__time {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}

.popup-key__button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: button;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.popup-key-scan > .popup-key__button {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}

.popup-keys-scan > .popup-key__button {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}

.popup-key-scan {
            grid-template-areas: "name id"
                         "type ."
                         "scan ."
                         "time button";
    min-width: 160px;
}



.popup-key__button-remove, .popup-key__button-add {
    font-size: 12px;
    color: #464c4f;
    background-color: transparent;
    border: none;
    margin-bottom: 4px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.popup-key__button-remove:focus, .popup-key__button-add:focus {
    background-color: transparent;
}

.popup-key__button-remove:hover { color: #ee6e73; }
.popup-key__button-add:hover { color: #00897b; }
   

.popup-key-add-wrap {
    margin-top: 8px;
    padding: 0 8px;
    margin-bottom: -8px;
}

.popup-key-add {
    position: relative;
    margin-left: auto;
}

.popup-key-add__button {
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    color: #001e2b;
    cursor: pointer;
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

.popup-key-add__button i {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
    margin-right: 2px;
}

.popup-key-add__button:focus {
    background-color: transparent;
}

.popup-key-add__button:hover {
    color: #00897b;
}

.popup-key-add__list {
    z-index: -100;
    position: absolute;
    right: 0;
    top: 28px;
    width: 180px;
    min-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 120px;
    overflow-y: auto;
    background-color: #FFF;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding: 4px 8px;
    margin-bottom: 6px;
}

.popup-key-add_open .popup-key-add__list {
    z-index: 3;
}

.popup-key-add__case {
    color: #9e9e9e;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

.popup-key-add__case:hover {
    color: #001e2b;
}


.popup-keys-scan {
    min-width: 160px;
    padding-top: 12px;
                grid-template-areas: "name id"
                         "type ."
                         "scan ."
                         "time button";
}

.popup-keys__scan .user-keys-list {
    margin-top: 8px;
}

.popup-keys__new, .popup-keys__scan, .popup-keys__exist {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
}

.popup-keys__exist {
    flex-direction: row;
}  

.popup-keys[data-content="exist"] .popup-keys__exist { display: -webkit-box; display: -ms-flexbox; display: flex; }
.popup-keys[data-content="scan"] .popup-keys__scan { display: -webkit-box; display: -ms-flexbox; display: flex; }
.popup-keys[data-content="new"] .popup-keys__new { display: -webkit-box; display: -ms-flexbox; display: flex; }


.menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 20px;
}

.menu__item {
    font-size: 12px;
    font-weight: 700;
    color: #464c4f;
    text-transform: uppercase;
    margin: 0 8px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.menu__item:hover {
    color: #00897b;
    cursor: pointer;
}

.menu__item_active {
    color: #00897b;
}


@media only screen and (max-width: 600px) {
    .controls-button__icon { display: block; }
    .controls-button__text { display: none; }
}

@media only screen and (max-width: 768px) {
    
    body {
        -ms-grid-columns: 0% 1fr;
        grid-template-columns: 0% 1fr;
    }
}